.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
  }
  mat-card {
    max-width: fit-content;
  }
}
