<mat-card>
  <mat-card-header>
    <mat-card-title>Ciao {{ oggetFormHome?.name }}</mat-card-title>
    <mat-card-subtitle
      >Categoria: {{ oggetFormHome?.categoria }} - Difficoltà:
      {{ oggetFormHome?.difficolta }}</mat-card-subtitle
    >
  </mat-card-header>
</mat-card>

<div>
  <!--sezione per far comparire le risposte-->
  <ng-container *ngIf="!quizCompleto && currentQuestion < arrDomande.length">
    <p>
      Question {{ currentQuestion + 1 }} of {{ arrDomande.length }} |
      <span>{{ counterSecondi }} Secondi Rimanenti</span>
    </p>
    <h5>{{ arrDomande[currentQuestion].questione }}</h5>
    <ul
      *ngFor="
        let risposta of arrDomande[currentQuestion].risposte | randomizeOrder
      "
    >
      <li (click)="answer(currentQuestion + 1, risposta)">
        {{ risposta.testo }}
      </li>
    </ul>
  </ng-container>

  <!--elemento per far comparire la sezione che ho completato il quiz-->
  <ng-container *ngIf="quizCompleto && currentQuestion > arrDomande.length">
    <h3>
      Congratulazioni!! <br />Hai completato il quiz! <br />Il tuo risultato
    </h3>
    <p>Domande a cui hai Risposto: {{ arrDomande.length }}</p>
    <p>Risposte Corrette: {{ correctAnswers }}</p>
    <p>Risposte Sbagliate: {{ incorrectAnswers }}</p>
    <p>
      Percentuale di Risposte Giuste:
      {{ (correctAnswers / arrDomande.length) * 100 }} %
    </p>
  </ng-container>
</div>
